{% extends 'base.html' %}
{% block title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="auth-card">
    <h1>Редактирование профиля</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button class="btn btn-primary w-full">
            Сохранить
        </button>
    </form>
</div>
{% endblock %}
